DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiZDcwMmJjZGEtM2JkMi00MGRlLWI3OGItMGI1NGYyODc4MzM3IiwidGVuYW50X2lkIjoiOTkzMWM4ZjBkZjU3NTQxNjMwMGRhMzVhOTY0ZWZlZWY0ODFiYmU0MDllMDA0MDhmM2ViMTFjNWIxMGI5ZmY3YyIsImludGVybmFsX3NlY3JldCI6ImFiMGVmZTA2LTg1ZGQtNGRkMy05MjliLTFlNWUwZTg3ZWY0ZCJ9.bki57NgaKE4nqzg7X_uKG7Lx7LZCDuZi258kocBEk9w"
